In [9]:
import pandas as pd
import numpy as np

# Encoding Nominal Categorical Features

In [6]:
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer

## Creating a feature
X = np.array([['Texas'], ['California'], ['Texas'], ['Delaware'], ['Texas']])

## Creating one-hot encoder
one_hot = LabelBinarizer()

## Encoding features
one_hot.fit_transform(X)

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]])

In [10]:
## We can also use pandas to create one-hot encode 
pd.get_dummies(X[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1

In [12]:
## Creating a multi-class feature
Y = [('Texas', 'Florida'), ('California', 'Alabama'), ('Texas', 'Florida'), ('Delware', 'Florida'), ('Texas', 'Alabama')]

## Creating multi-class encoder
one_hot_multi = MultiLabelBinarizer()

## Encoding features
one_hot_multi.fit_transform(Y)

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

# Encoding Ordinal Categorical Features

In [13]:
## Creating a data-frame
data = pd.DataFrame({'Score': ['Low', 'Low', 'High', 'Medium', 'Low', 'High']})

## Creating the mapper
mapper =  {'Low': 0, 'Medium': 1, 'High': 2}

## Replacing labels with mapper
data['Score'].replace(mapper)

0    0
1    0
2    2
3    1
4    0
5    2
Name: Score, dtype: int64

# Encoding Dictionary of Features