In [5]:
import pandas as pd

#######################
## Reading text file ##
#######################

mydata = pd.read_table('mydata.txt', sep = ' ', header = None)
mydata.columns = ['Gender', 'Age', 'Height', 'Weight']
mydata.head()

  Gender  Age  Height  Weight
0      M   50      68     155
1      F   23      60     101
2      M   65      72     220
3      F   35      65     133
4      M   15      71     166

In [6]:
######################
## Reading csv file ##
######################

mydata = pd.read_csv('mydata.csv', header = None)
mydata.columns = ['Gender', 'Age', 'Height', 'Weight']
mydata.head()

  Gender  Age  Height  Weight
0      M   50      68     155
1      F   23      60     101
2      M   65      72     220
3      F   35      65     133
4      M   15      71     166